header {
    background-color:firebrick;
    padding: 10px;
    text-align: center;
    color: white;
}

article .pasatiempo {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 10px;
    text-align: center;
}
    